.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    &__link {
        &:hover {
            svg path {
                transition: .3s all;
                fill: blue;
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background: #000;
    }
    &__social {
        height: 150px;
        width: 25px;
        span {
            transform: rotate(-90deg) translate(-35%, -260%);
            display: block;
            width: 150px;
            font-size: 16px;
            font-weight: 700;
        }
        
    }
}